:root{  
  --bg-main: #3A8EF6;   
  --bg-main2: #224096;   
  --bg-main3: #9DABD3;   
  --bg-main4: #F29D29;   
}
a:hover{
  text-decoration: none;
}  
body{
  font-family: 'Noto Sans Thai', sans-serif;
}
   
@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }  
} 
header nav{
  height: 120px;
  border-bottom: 1px solid #DEDCE7;
  background: #FFFFFF;
}
header nav .navbar-collapse .navbar-nav .nav-item {
  margin-left: 12px;
  margin-right: 12px;
}
header nav .navbar-collapse .navbar-nav .nav-item .nav-link{
  font-weight: 400; 
  font-size: 24px;
  line-height: 40px; 
  color: #18181B;
  transition: .33s all ease-out;
}
header nav .navbar-collapse .navbar-nav .nav-item.active .nav-link{  
  color: var(--bg-main);
  font-weight: 800;
}
header nav .navbar-collapse .navbar-nav .nav-item:hover .nav-link{   
  color: var(--bg-main); 
}
.navbar-brand img{
  height: 55px;
}
.btn1{
  background: linear-gradient(277.71deg, #224096 -14.25%, #3A8EF6 132.86%);
  border-radius: 24px;
  padding: 14px 22px; 
  height: 48px;
  font-size: 20px;
  line-height: 20px;  
  color: #FFFFFF;
  transition: .33s all ease-out; 
}
.btn1:hover{
  background: linear-gradient(277.71deg, #224096 -44.25%, #3A8EF6 132.86%);
  color: #FFFFFF;
}
header nav .navbar-collapse .navbar-nav .flag img{   
  margin-top: 5px;
  height: 40px;
}
header nav .navbar-brand{   
  margin-top: 5px;
  height: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 25px; 
  color: #18181B;
}
header nav .navbar-brand img{   
  margin-top: -5px;
}
.sec1{
  height: 768px;
  background: #FFFFFF;
}
.sec1 h1{  
  font-weight: 700;
  font-size: 56px;
  line-height: 80px; 
  color: #18181B;
  margin-bottom: 0px;
}
.sec1 h2{  
  font-weight: 700;
  font-size: 56px;
  line-height: 64px; 
  color: #18181B;
  margin-bottom: 24px;
}
.sec1 h2 span{ 
  color: var(--bg-main);
}
.sec1 h5{  
  font-weight: 400;
  font-size: 32px;
  line-height: 24px; 
  color: var(--bg-main);
  margin-bottom: 50px;
}
.sec1 h5 span{ 
  color: #F29D29;
}
.des-top{
  position: relative;
  height: 644px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.des-top .img{
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 527px;
  height: 527px; 
}  
.des-top .img img{ 
  height: 527px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  z-index: 3;
  position: absolute;
  bottom: 0;
}  
.des-top .img::after{
  content: "";
  width: 527px;
  height: 527px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--bg-main);
  border-radius: 100%;
  z-index: 2;
}  

.des-top .tel{ 
  position: absolute;
  width: 242px;
  height: 102px;
  left: 50px;
  top: 280px; 
  background: rgba(119, 119, 119, 0.7);
  backdrop-filter: blur(6px);  
  border-radius: 16px;
  z-index: 4; 
  font-family: 'Inter'; 
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 32px; 
  text-align: center;
  color: #fff;
}
.des-top .mail{
  position: absolute;  
  width: 216px;
  height: 100px;
  right: 115px;
  top: 240px; 
  background: #F29D29;
  border-radius: 16px; 
  backdrop-filter: blur(6px);   
  z-index: 4; 
  font-family: 'Inter'; 
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 24px; 
  text-align: center;
  color: #fff;
} 
.des-top .name{  
  left: 150px;
  bottom: 55px;   
  z-index: 4; 
  position: absolute;
  width: 224px;
  height: 78px; 
  background: #FFFFFF;
  box-shadow: 0px 12px 30px rgba(63, 128, 240, 0.08);
  border-radius: 8px;
  padding-left: 47px;
  padding-top: 14px;
}
.des-top .name h4{  
  font-size: 16px;
  line-height: 24px; 
}
.des-top .name h6{  
  font-size: 14px;
  line-height: 20px; 
  color: var(--bg-main);
}
.des-top .name .hic{
  position: absolute;
  width: 32px;
  height: 32px;
  left: 8px;
  top: 14px;
  border-radius: 100%; 
  background: #F29D29;
  box-shadow: 0px 4px 19px rgba(22, 120, 242, 0.2), inset 0px 4px 4px rgba(0, 0, 0, 0.12);
  justify-content: center;
  align-items: center;
  display: flex;
} 
.des-top .name .hic img{
  height: 20px;
} 
.sec2{
  height: 320px; 
  background: #224096;
  padding-top: 80px;
}
.des-help{
  display: flex; 
} 
.des-help .des{
  margin-left: 12px;
  margin-right: 12px; 
  width: 176px;
  height: 160px; 
  background: #FFFFFF;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 16px;   
  font-weight: 600;
  font-size: 20px;
  line-height: 24px; 
  color: #18181B; 
  text-align: center;
}
.des-help .des img{
  height: 48px;
  display: block;
  margin: auto;
  margin: 27px auto 14px auto;
}
.sec2 h1{
  font-size: 56px;
  line-height: 80px; 
  color: #FFFFFF; 
  margin-bottom: 8px;
}
.sec2 h6{
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF; 
}
.sec3{
  height: 800px; 
  background: #FFFFFF;
}
.sec3 h1{
  font-family: 'Inter'; 
  font-weight: 700;
  font-size: 56px; 
  color: #18181B;
  padding-bottom: 7px;
  width: 100%;
  border-bottom: 1px solid var(--bg-main);
  text-align: left;
  margin-bottom: 60px;
} 
.sec3 h1 span{ 
  color: #F29D29;
}
.sec3 h2{
  font-family: 'Inter'; 
  font-weight: 700;
  font-size: 56px; 
  text-align: right; 
  color: #18181B; 
  margin-top: -65px;
}
.sec3 .story{
  padding: 40px;  
  height: 408px; 
  background: #F8FAFC; 
  border: 1px solid rgba(82, 82, 91, 0.1);
  border-radius: 16px;
}
.sec3 .story h4{  
  font-weight: 700;
  font-size: 40px;
  line-height: 56px; 
  color: #18181B; 
  margin-bottom: 20px;
}
.sec3 .story h4 span{ 
  font-family: "Inter"; 
  font-weight: 700; 
}
.sec3 .story p{  
  font-weight: 400;
  font-size: 20px;
  line-height: 32px; 
  color: #18181B;
}
.sec3 .img-pad{
  object-fit: cover;
  padding-left: 48px;
  padding-right: 30px;
  border-radius: 12px;
  position: relative;
  z-index: 3; 
}
.sec3 .crv0{
  z-index: 2;
  position: absolute;
  width: 143px;
  height: 361px; 
  top: 47px;
  background: var(--bg-main);
  border-radius: 12px;
}
.sec3 .crv0::after{
  z-index: 2;
  content: "";
  position: absolute;
  width: 57px;
  height: 179px; 
  background-position: center !important;
  background-size: 57px 179px !important;
  background-repeat: no-repeat !important;
  background: url(../images/Line.png);
  top: 10px;
  right: -330%; 
  border-radius: 12px;
}
.sec4{
  padding-top: 80px;
  padding-bottom: 80px;
}
.sec4 h1{ 
  font-weight: 600;
  font-size: 64px;
  line-height: 64px; 
  color: #F29D29;
  margin-bottom: 60px;
}
.sec4 h1 span{ 
  font-size: 48px; 
  color: #18181B;
}
.sec4 h2{ 
  font-weight: 700;
  font-size: 56px;
  line-height: 64px; 
  color: #18181B;
  text-align: right;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--bg-main);

}
.sec4 h2 span{  
  color: #F29D29;
}
.sec4 .feature{
  height: 296px; 
  background: rgba(58, 163, 244, 0.05);
  border-radius: 16px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sec4 .feature img{
  height: 112px;
}
.sec4 .feature h4{ 
  font-weight: 700;
  font-size: 24px; 
  text-align: center; 
  color: #18181B; 
  margin-bottom: 16px;
  margin-top: 30px;
}
.sec4 .feature p{ 
  font-weight: 400;
  font-size: 20px;  
  text-align: center; 
  color: #18181B; 
}
.sec5{
  height: 850px; 
  background: rgba(34, 64, 150, 0.1);
}
.sec5 h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 64px; 
  text-align: center; 
  color: #18181B;
}
.sec5 h1 span{ 
  color: #F29D29;
}
.sec5 h2{
  font-weight: 700;
  font-size: 50px;
  line-height: 56px; 
  text-align: center; 
  color: #18181B;
}
.sec5 .hr{
  width: 1144.5px;
  height: 1px; 
  border: 1px solid var(--bg-main);
  display: block;
  margin: auto;
  margin-bottom: 80px;
}
.sec5 .reviews{
  padding: 32px;
  height: 376px; 
  background: #FFFFFF;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04);
  border-radius: 32px;
  position: relative;
}
.sec5 .reviews p{
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px; 
  color: #031432;
  text-align: left;
  margin-bottom: 24px;
}
.sec5 .reviews img{
  position: absolute;
  bottom: 32px;
  left: 32px;
  height: 72px;
  width: 72px;
  object-fit: cover;
  border-radius: 100%;
}
.sec5 .reviews h4{
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 30px; 
  color: var(--bg-main); 
  text-align: left;
  padding-left: 88px;
}
.sec5 .reviews h5{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; 
  color: #ADD2FF;
  text-align: left;
  padding-left: 88px;
}
.sec5 .lSPager li a{
  margin-top: 24px;
  width: 16px !important;
  height: 16px !important;
  background: #DDDDDD !important;
}
.sec5  .lSPager li.active a{ 
  background: #224096  !important;
}
.sec6{
  height: 735px; 
  background: #FFFFFF;
} 
.sec6 h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 64px; 
  text-align: center; 
  color: #18181B;
  margin-top: 88px;
  margin-bottom: 16px;
}
.sec6 h1 span{ 
  color: #F29D29;
} 
.sec6 .hr{
  width: 1144.5px;
  height: 1px; 
  border: 1px solid var(--bg-main);
  display: block;
  margin: auto;
  margin-bottom: 16px;
}
.sec6 h5{
  font-weight: 400;
  font-size: 24px;
  line-height: 40px; 
  text-align: center; 
  color: #18181B; 
  margin-bottom: 85px;
} 
.logo-our{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 66px;
  height: 102px; 
  width: 100%;
}
footer{
  height: 320px;
  background: #224096;
  padding-top: 56px;
}
footer h1{
  font-family: 'Inter';
  font-weight: 600;
  font-size: 48px;
  line-height: 64px; 
  color: #FFFFFF;
  margin-bottom: 20px;
}
footer p{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
footer .social{ 
  margin-right: 15px;
}
footer .social img{
  height: 32px; 
}
footer h3{
  font-family: 'Inter';
  font-weight: 600; 
  font-size: 20px;
  line-height: 24px; 
  color: #FFFFFF; 
  margin-bottom: 24px;
}
footer h3 span{ 
}
footer ul{
  list-style: none;
  padding-left: 0px;
}
footer ul li{
  margin-bottom: 15px;
}
footer ul li a{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px; 
  color: #FFFFFF; 
  transition: .33s all ease-out;
}
footer ul li a span{ 
  font-family: 'Inter';
  font-weight: 400;
}
footer ul li a:hover{ 
  color: #9DABD3; 
}
footer ul li img{
  width: 32px;
  margin-right: 8px;
}
footer hr{
  border-bottom: 1px solid #FFFFFF;
}
footer h6{
  font-family: 'Inter'; 
  font-weight: 400;
  font-size: 16px;
  line-height: 30px; 
  color: #FFFFFF;
  text-align: center;
} 
.h1m{
  color: var(--bg-main);
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cv-sel{
  margin-top: 30px; 
  padding: 20px; 
  position: relative;
  transition: .33s all ease-out; 
}
.cv-sel .btn{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
  height: 50px;
  width: 60%;
  border-radius: 10px; 
  background-color: var(--bg-main2);
  display: none;
  transition: .33s all ease-out; 
}  
.cv-sel:hover{ 
  padding: 18px; 
} 
.cv-sel:hover .btn{ 
  display: block;
} 
.cv-sel:hover img{ 
  opacity: .6;
} 
.pre-cv{
  position: relative;
}
.pre-cv:hover{
  opacity: .7;
  cursor: pointer;
}
.pre-cv img{
  position: relative;
  z-index: 2 !important;
} 
.pre-cv span{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 3 !important;
  transition: .33s all ease-out; 
  font-size: 40px; 
}
.pre-cv:hover span{ 
  display: flex;
}
.step-tab ul{
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.step-tab ul li{
  text-align: center;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
}
.step-tab ul div{
  height: 56px;
  width: 56px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: rgba(119, 119, 119, 1);
  margin-bottom: 10px; 
  position: relative;
  z-index: 3;
}
.step-tab ul div span{ 
  font-size: 30px;
}
.step-tab ul li.active div{ 
  background-color: var(--bg-main);
}
.step-tab ul li.active div span{ 
  color: #fff;
}
.step-tab ul li::after{
  z-index: 2;
  content: "";
  position: absolute;
  left: 50%;
  top: calc( 56px / 2);
  width: 100%;
  height: 3px;
  background: rgba(119, 119, 119,1);
}
.step-tab ul li:last-child::after{ 
  content: unset; 
} 
.step-tab ul li.active::after{ 
  background-color: var(--bg-main);
}
.step-tab ul li.active{ 
  color: var(--bg-main);
  font-weight: bold;
}
.form-x{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 30px 120px; 
  border-top: 5px solid var(--bg-main);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
} 
.form-x label span{
  color: red;
}
.form-x .form-control{
  height: 40px;
}
.btn-primary{
  background-color: var(--bg-main);
}
.nav-tabs li a{
  min-width: 140px;
  text-align: center;
}
.nav-tabs li a.active{
  color: #fff !important;
  background-color: var(--bg-main) !important; 
}
.modallog .modal-body{
  padding: 40px;
}
.modallog .modal-body h4{
  color: var(--bg-main) !important; 
  text-align: center;
  font-size: 30px;
}
.log-face {
  color: #fff;
  display: block;
  width: 100%;
  height: 55px;
  background: #3b5998;
  border-radius: 14px;
  transition: all .33s ease-out;
  border: 1.5px solid #3b5998;
  margin-bottom: 20px; 
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding: 12px;
  line-height: 34px;
}
.log-face:hover{  
  box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.05);
  color: #fff;
} 
.log-face img{ 
  margin-right: 13px;
}  
.log-face:active{
  outline:none;
}
.log-go {
  color: #161717;
  display: block;
  width: 100%; 
  background: #fff;
  border-radius: 14px;
  transition: all .33s ease-out;
  border: 1.5px solid #b1b1b1; 
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding: 12px;
  line-height: 34px;
}
.log-go:hover{  
  box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.05);
  color: #161717;
} 
.log-go img{ 
  margin-right: 13px;
}  
.log-go:active{
  outline:none;
}
.user-dropdown img{
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.js-example-basic-multiple + .select2{
  width: 100% !important;
}
.select2-container--default .select2-selection--single { 
  border-radius: 4px;
  border: 1px solid #D9D9D9 !important;
  background-color: #FFF;
} 
.select2-container--default .select2-selection--single:focus{ 
  border: 1px solid var(--bg-main);
} 
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000; 
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;  
}
.select2-selection__rendered {
  line-height: 38px !important; 
  border-radius: 4px; 
}
.select2-container .select2-selection--single {
  height: 38px !important; 
  border-radius: 4px;
}
.select2-selection__arrow {
  height: 38px !important; 
  border-radius: 4px;
}
[type=search] {
  outline-offset: none !important;
  -webkit-appearance: none !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  font-size: 14px;
}
.select2-results__option--selectable {
  font-size: 14px;
}
.iti {
  position: relative;
  display: inline-block;
  width: 100%;
}
.profilex{
  position: absolute;
  right: 30px;
  top: 30px;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  background-color: #fff;
} 

.profile-pic {
  width: 120px;
  max-height: 120px; 
} 
.file-upload {
  display: none;
}
.circle {
  border-radius: 100% !important;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border: 2px solid rgba(255, 255, 255, 0.2); 
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 4px solid var(--bg-main);
}  
.upload-button {
  font-size: 1.2em;
} 
.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
.profilex p{  
  margin-top: 10px;
  text-align: center;
}

.input-file .button input {  
  position: absolute;  
  top: 0;  
  right: 0;  
  padding: 0;  
  font-size: 30px;  
  cursor: pointer;  
  opacity: 0;  
}  
.input input {  
  display: block;  
  box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  width: 100%;  
  height: 28px;  
  padding: 8px 10px;  
  outline: 0;  
  border-width: 1px;  
  border-style: solid;  
  border-radius: 0;  
  background: #fff;  
  font: 13px/16px 'Open Sans', Helvetica,Arial, sans-serif;  
  color: #404040;  
  appearance: normal;  
  -moz-appearance: none;  
  -webkit-appearance: none;  
}   
.icon-span2{
  position: absolute;
  right: 23px;
  top: 41px;
  color: #979797 !important;
  z-index: 4;
} 
.cv{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: block;
  margin: 30px auto;
  border-radius: 20px;
  position: relative;
} 
.cv1 .header{
  background-color: #183042;
  padding: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  min-height: 200px;
} 
.cv1 .imgx{
  position: absolute;
  right: 40px;
  top: 40px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  border: 4px solid #fff;
}
.cv1 .header h1{
  color: #fff;
  font-size: 32px;
}
.cv1 .header h4{
  color: #fff;
  font-size: 20px;
}


.cv1 .main{
  background-color: #fff;
  padding: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}




/*
transition: .33s all ease-out; 

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
*/ 

.btn .material-symbols-outlined{
  position: relative;
  top: 4px;
}

@media only screen and (max-width: 991px) { /* MOBILE */  
  header nav{
    height: 80px; 
  } 
  .sec1{
    height: unset !important; 
    padding-top: 30px;
  }
  .sec2{
    height: unset !important; 
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .sec1 h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .sec1 h2{
    font-size: 36px;
    line-height: 40px;
  }
  .sec1 h5 { 
    font-size: 22px;
    line-height: 24px; 
  }
  .des-top .img{
    max-width: 100%;
    height: auto;  
  }
  .des-top .img::after{
    max-width: 100%;
    height: auto;
  }
  .des-top .img img {
    height: auto;
    max-width: 100%;
    border-radius: 100%;
    background-color: var(--bg-main);
    position: relative;
  }
  .des-top .mail{
    font-size: 14px;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    right: -10px;
    top: 45%;
  }
  .des-top .tel{
    font-size: 14px;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    left: -10px;
    top: 55%;
  }
  .des-top .name{
    font-size: 14px;
    width: 180px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    top: 75%;
  } 
  .des-top{
    height: 488px;
  } 
  footer{
    height: unset !important;
    padding-top: 30px;
    padding-bottom: 5px;
  }
  footer h6{
    line-height: 38px;
    font-size: 13px;
  }
  footer h1 { 
    font-size: 40px;
    line-height: 50px; 
    margin-bottom: 15px;
  }
  footer p { 
    font-size: 14px;
    line-height: 24px; 
  }
  footer ul li img {
    width: 26px;
    margin-right: 8px;
  }
  footer .social img {
    height: 30px;
    margin-bottom: 15px;
  }
  footer ul li a { 
    font-size: 14px;
    line-height: 20px; 
  }
  .des-help {
    content: "";
    display: table;
    clear: both;
  }
  .des-help .des {
    float: left;
    width: 43%;
    margin-bottom: 15px;
  }
  .sec2 h1 {
    font-size: 36px;
    line-height: 50px; 
  }
  .sec2 h6 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .sec3{
    height: unset !important; 
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .sec3 h1{ 
    font-size: 36px; 
    margin-bottom: 20px;
  }
  .sec3 h2 { 
    font-size: 36px; 
    margin-top: 15px;
  }
  .crv0{
    display: none;  
  }
  .sec3 .img-pad{ 
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 25px;
  }
  .sec3 .story{ 
    margin-top: 20px;
    padding: 30px 15px 0px;
    height: 100%; 
  }
  .sec3 .story h4 { 
    font-size: 32px;
    line-height: 45px; 
    margin-bottom: 15px;
  }
  .sec3 .story p { 
    font-size: 16px;
    line-height: 30px; 
  }
  .sec4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .sec4 h1 { 
    font-size: 40px;
    line-height: 49px; 
    margin-bottom: 20px;
  }
  .sec4 h1 span{ 
    font-size: 40px; 
  }
  .sec4 h2{ 
    font-size: 36px;
    text-align: left;
    margin-bottom: 30px;
    line-height: 40px;
    padding-bottom: 10px;
  }
  .sec4 .feature img {
    height: 80px;
  }
  .sec4 .feature {
    height: 220px; 
    border-radius: 10px;
    margin-bottom: 20px; 
    padding-left: 10px;
    padding-right: 10px;
  }
  .sec4 .feature h4 { 
    font-size: 20px; 
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .sec4 .feature p { 
    font-size: 14px; 
  }
  .sec5{
    height: unset !important;
    padding-top: 30px;
  } 
  .sec5 h1 { 
    font-size: 32px;
    line-height: 64px; 
  }
  .sec5 h2 { 
    font-size: 26px;
    line-height: 36px; 
  }
  .sec5 .reviews {
    padding: 20px;  
  }
  .sec5 .reviews p { 
    font-size: 18px;
    line-height: 30px; 
  }
  .sec5 .reviews img { 
    bottom: 20px;
    left: 20px; 
  }
  .sec5 .hr{
    max-width: 100%;
  }
  .sec6{
    height: unset !important;
    padding-top: 30px;
  } 
  .sec6 .hr{
    max-width: 100%;
  }
  .sec6 h1 { 
    margin-top: 25px; 
  }
  .sec6 h5 { 
    font-size: 16px;
    line-height: 30px; 
    margin-bottom: 30px;
  }
  .logo-our { 
    margin-bottom: 30px;
    height: 80px; 
  }
} 

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1535px;
  }
}
@media only screen and (width: 768px) { /* IPAD */   
  .logo-our { 
    margin-bottom: 30px;
    height: 100px; 
  }
}
@media only screen and (width: 1024px) { /* IPAD PRO */  
  .sec5 .hr{
    max-width: 100%;
  }
  .sec6 .hr{
    max-width: 100%;
  }
  .sec1{
    height: unset !important;
    padding-top: 30px;
  } 
  .sec2{
    height: unset !important; 
    padding-bottom: 100px;
  } 
  .sec3{
    height: unset !important;
    padding-top: 30px;
  } 
  .sec6{
    height: unset !important;
    padding-top: 30px;
  } 
  footer{
    height: unset !important;
    padding-top: 30px;
  } 
}